/output
/structures
/data
.env
*.hdf5
.DS_Store
*.zip
*.stl
*.h5
*.csv
*.pyc
*.dat
*.pdf
*.png
*.txt
*.out
*.err
*.ctl
*.ctl~
*.cmd
*.cmd~
*.mp4
Notebooks/LSU Project/20250410 Sphere Discretization LSU/data/20260312_g_values_ff_0p2172_n_2p9275
*.vtk
*.sh
*.bak